/instance.cfg
/natives/

/minecraft/astralsorcery/
/minecraft/crash-reports/
/minecraft/fonts/
/minecraft/llibrary/
/minecraft/local/
/minecraft/logs/
/minecraft/mods/memory_repo/
/minecraft/.mixin.out/
/minecraft/mods/OpenTerrainGenerator/worlds/
/minecraft/saves/
/minecraft/journeymap/

/minecraft/BotaniaVars.dat
/minecraft/icon.png
/minecraft/options.txt
/minecraft/patchouli_data.json
/minecraft/servers.dat
/minecraft/usercache.json
/minecraft/usernamecache.json
/minecraft/OpenComputersMod-1.7.4.153-lua52-native.64.dll
/minecraft/OpenComputersMod-1.7.4.153-lua53-native.64.dll
/minecraft/OpenComputersMod-1.7.4.153-lua53-native.64.dylib

/minecraft/local/ftbutilities/all_permissions.html
/minecraft/local/ftbutilities/all_permissions_full_list.txt

*.log

/minecraft/config/**/*
